<footer class="footer">
  {{#each footer}}
    <div class="footer-section fade-in">
      <h4>{{tittle}}</h4>
      <p>{{content}}</p>
    </div>
  {{/each}}

  <div class="footer-bottom">
    <p1>&copy; IACON | Todos los derechos reservados.</p1>
  </div>
</footer>
